# Problem Understanding

Sentimental Analysis can be very useful to find out depression and cure
We are Predicting the Persion has Depression or not

# DataSet Understanding

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('sentiment_tweets3.csv')
df.head()

,Index,message to examine,label (depression result)
0,106,just had a real good moment. i missssssssss hi...,0
1,217,is reading manga http://plurk.com/p/mzp1e,0
2,220,@comeagainjen http://twitpic.com/2y2lx - http:...,0
3,288,@lapcat Need to send 'em to my accountant tomo...,0
4,540,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10314 entries, 0 to 10313
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Index                      10314 non-null  int64
 1   message to examine         10314 non-null  object
 2   label (depression result)  10314 non-null  int64
dtypes: int64(2), object(1)
memory usage: 241.9+ KB

we have 3 colums index,message,label
we have 10314 records

In [4]:
df.nunique()

Index                        10314
message to examine           10282
label (depression result)        2
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.rename(columns={'message to examine':'msg','label (depression result)':'depressed'},inplace=True)

In [7]:
df.msg.unique()

array(['just had a real good moment. i missssssssss him so much, ',
       'is reading manga  http://plurk.com/p/mzp1e',
       '@comeagainjen http://twitpic.com/2y2lx - http://www.youtube.com/watch?v=zoGfqvh2ME8 ',
       ...,
       'Ketamine Nasal Spray Shows Promise Against Depression, Suicide #health https://cmun.it/4sjligkÂ\xa0',
       "dont mistake a bad day with depression! everyone has 'em!", '0'],
      dtype=object)

In [8]:
df[df['msg'].str.len()>=10]

        Index                                                msg  depressed
0         106  just had a real good moment. i missssssssss hi...          0
1         217         is reading manga  http://plurk.com/p/mzp1e          0
2         220  @comeagainjen http://twitpic.com/2y2lx - http:...          0
3         288  @lapcat Need to send 'em to my accountant tomo...          0
4         540      ADD ME ON MYSPACE!!!  myspace.com/LookThunder          0
...       ...                                                ...        ...
10308  802308  Many sufferers of depression aren't sad; they ...          1
10309  802309  No Depression by G Herbo is my mood from now o...          1
10310  802310  What do you do when depression succumbs the br...          1
10311  802311  Ketamine Nasal Spray Shows Promise Against Dep...          1
10312  802312  dont mistake a bad day with depression! everyo...          1

[10299 rows x 3 columns]

There 14 record that we less than 10 in length

In [9]:
#check for duplicated msg
df['msg'].duplicated().sum()

32

In [10]:
df['msg'].value_counts().values

array([11,  4,  4, ...,  1,  1,  1], dtype=int64)

In [11]:
#check for duplicated msg in msg columns
df[df['msg'].duplicated()]

        Index                                                msg  depressed
4325   435433                             Good morning everyone           0
5220   520421  Ok I REALLY need to go to bed and stop playing...          0
5235   521948                                      Good morning           0
6623   659122                                      Good morning           0
8226   800226  Should Mothers Avoid Nighttime Breastfeeding t...          1
8752   800752  Mom's depression tied to kids' emotional, inte...          1
8753   800753  Mom's depression tied to kids' emotional, inte...          1
8766   800766  Mom's depression tied to kids' emotional, inte...          1
8768   800768  Mom's depression tied to kids' emotional, inte...          1
8769   800769  Mom's depression tied to kids' emotional, inte...          1
8770   800770  Mom's depression tied to kids' emotional, inte...          1
8771   800771  Mom's depression tied to kids' emotional, inte...          1
8772   800772  Mom's depression tied to kids' emotional, inte...          1
8773   800773  Mom's depression tied to kids' emotional, inte...          1
8777   800777  Mom's depression tied to kids' emotional, inte...          1
9120   801120  Don't settle with #depression, #anxiety or def...          1
9142   801142  Sleeping next to someone you love not only red...          1
9490   801490  The Stock Market Is Having its Worst Second Qu...          1
9583   801583                                         25-04-2018          1
9643   801643  How exercising can slash the risk of depressio...          1
9704   801704                                             #NAME?          1
9718   801718                                         25-04-2018          1
9812   801812                                 Depression is real          1
9914   801914  Lonely millennials twice as likely to experien...          1
9915   801915  suffering from chronic depression https://vine...          1
9972   801972  More than 1 in 20 US children and teens have a...          1
9977   801977  More than 1 in 20 US children and teens have a...          1
10002  802002  [Zicutake] Depression can be prevented by exer...          1
10044  802044  More than 1 in 20 US children and teens have a...          1
10087  802087  [Zicutake] Depression can be prevented by exer...          1
10197  802197                                         25-04-2018          1
10297  802297  suffering from chronic depression https://vine...          1

we have 32 duplicated values

### Droping unimportant columns

In [12]:
df.drop('Index',axis=1,inplace=True)

In [13]:
df[df.duplicated()]

                                                     msg  depressed
4325                              Good morning everyone           0
5220   Ok I REALLY need to go to bed and stop playing...          0
5235                                       Good morning           0
6623                                       Good morning           0
8226   Should Mothers Avoid Nighttime Breastfeeding t...          1
8752   Mom's depression tied to kids' emotional, inte...          1
8753   Mom's depression tied to kids' emotional, inte...          1
8766   Mom's depression tied to kids' emotional, inte...          1
8768   Mom's depression tied to kids' emotional, inte...          1
8769   Mom's depression tied to kids' emotional, inte...          1
8770   Mom's depression tied to kids' emotional, inte...          1
8771   Mom's depression tied to kids' emotional, inte...          1
8772   Mom's depression tied to kids' emotional, inte...          1
8773   Mom's depression tied to kids' emotional, inte...          1
8777   Mom's depression tied to kids' emotional, inte...          1
9120   Don't settle with #depression, #anxiety or def...          1
9142   Sleeping next to someone you love not only red...          1
9490   The Stock Market Is Having its Worst Second Qu...          1
9583                                          25-04-2018          1
9643   How exercising can slash the risk of depressio...          1
9718                                          25-04-2018          1
9812                                  Depression is real          1
9914   Lonely millennials twice as likely to experien...          1
9915   suffering from chronic depression https://vine...          1
9972   More than 1 in 20 US children and teens have a...          1
9977   More than 1 in 20 US children and teens have a...          1
10002  [Zicutake] Depression can be prevented by exer...          1
10044  More than 1 in 20 US children and teens have a...          1
10087  [Zicutake] Depression can be prevented by exer...          1
10197                                         25-04-2018          1
10297  suffering from chronic depression https://vine...          1

there is one is missing  because of the label variable is diffierent

for the we need to check again

In [14]:
a=df[df.duplicated()]['depressed'].index

In [15]:
b=df[df['msg'].duplicated()].index

In [16]:
for i in b:
    if i not in a:
        print(i)

9704

above no is not diffrent from others #NAME?

In [17]:
df[df['msg']=='#NAME?']

         msg  depressed
4153  #NAME?          0
9704  #NAME?          1

In [18]:
#we can see that this is message in not much nay important in dipression prediction
#there are date area there in this which is not important

###  Droping Duplicated records

In [19]:
#I am dropping this duplicated record in msg
df=df.drop_duplicates(ignore_index=True)

In [20]:
df.duplicated().sum()

0

In [21]:
df[df['msg'].duplicated()]

         msg  depressed
9684  #NAME?          1

In [22]:
df.iloc[9685]

msg          i had the worst mood drop then i ate a shit to...
depressed                                                    1
Name: 9685, dtype: object

In [23]:
df=df.drop(index=9684)
#9684

In [24]:
df

                                                     msg  depressed
0      just had a real good moment. i missssssssss hi...          0
1             is reading manga  http://plurk.com/p/mzp1e          0
2      @comeagainjen http://twitpic.com/2y2lx - http:...          0
3      @lapcat Need to send 'em to my accountant tomo...          0
4          ADD ME ON MYSPACE!!!  myspace.com/LookThunder          0
...                                                  ...        ...
10278  No Depression by G Herbo is my mood from now o...          1
10279  What do you do when depression succumbs the br...          1
10280  Ketamine Nasal Spray Shows Promise Against Dep...          1
10281  dont mistake a bad day with depression! everyo...          1
10282                                                  0          1

[10282 rows x 2 columns]

In [25]:
index = range(len(df))
df2=df.reindex(index)
df2['msg']=df2['msg'].fillna('Good Evening everyone')
df2['depressed']=df2['depressed'].fillna(0)

In [26]:
df2['msg'][9684]

'Good Evening everyone'

# Text Cleaning

In [27]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [28]:
corpus=[]
for i in range(len(df2)):
    rp=re.sub('[^a-zA-Z]', ' ',df2['msg'][i])
    rp=rp.lower()
    rp=rp.split()
    rp=[ps.stem(word) for word in rp if not word in set(stopwords.words('english'))]
    rp=' '.join(rp)
    corpus.append(rp)

#  Vectorization

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x=cv.fit_transform(corpus).toarray()

In [30]:
y=df2['depressed']

## Train Test Split

In [31]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

# Modeling

In [32]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

# Prediction

In [33]:
ypred_test=model.predict(X_test)
ypred_train=model.predict(X_train)

# Evaluation

In [34]:
from sklearn.metrics import accuracy_score
print('Train Accuracy:',accuracy_score(y_train,ypred_train))
print('Test Accuracy:',accuracy_score(y_test,ypred_test))

Train Accuracy: 0.9929483282674773
Test Accuracy: 0.9630529897909577

In [35]:
0 in corpus

False

In [36]:
X_test.shape

(2057, 18153)

In [37]:
X_train.shape

(8225, 18153)

In [38]:
def convert_msg(msg):
    corpus=[]
    rp=re.sub('[^a-zA-Z]', ' ',msg)
    rp=rp.lower()
    rp=rp.split()
    rp=[ps.stem(word) for word in rp if not word in set(stopwords.words('english'))]
    rp=' '.join(rp)
    corpus.append(rp)
    cv=CountVectorizer()
    sd=cv.fit_transform(corpus).toarray()
    return sd

msg=convert_msg("I love You Dear")
print(msg)
model.predict(msg)

In [ ]:
y=df2['depressed']

#  Lemitization

In [39]:
from nltk.stem import WordNetLemmatizer
wnd=WordNetLemmatizer()
corpus=[]
for i in range(len(df)):
    rp=re.sub('[^a-zA-Z]', ' ',df2['msg'][i])
    rp=rp.lower()
    rp=rp.split()
    rp=[wnd.lemmatize(word) for word in rp if not word in set(stopwords.words('english'))]
    rp=' '.join(rp)
    corpus.append(rp)
    
    
# Vectorization

cv=CountVectorizer()
x=cv.fit_transform(corpus).toarray()
    #return sd

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [45]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [46]:
ypred_test=model.predict(X_test)
ypred_train=model.predict(X_train)

In [47]:
from sklearn.metrics import accuracy_score
print('Train Accuracy:',accuracy_score(y_train,ypred_train))
print('Test Accuracy:',accuracy_score(y_test,ypred_test))

Train Accuracy: 0.9929483282674773
Test Accuracy: 0.9630529897909577

In [48]:
import pickle
with open('sentimental.pkl','wb') as file:
    pickle.dump(model,file)

ValueError: X has 3 features, but MultinomialNB is expecting 18153 features as input.